/* Esercizio 1 */

.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 3s linear 0s;
}

.ex-1-square:hover {
    background-color: red;
}

/* Esercizio 2 */

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 3s linear 0s;
}

.ex-2-square:active {
    width: 100%;
}



/* Esercizio 3 */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 3s linear 0s;

}

.ex-3-square:hover {
    border-radius: 50%;
}


/* Esercizio 4 */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square:hover{
    animation: disappear 3s linear 0s 1 normal forwards running;
}

@keyframes disappear {
    from {opacity: 100%; }
    to {opacity: 0%; }
}


/* Esercizio 5 */

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}

.ex-5-square:hover {
    animation: bigger5 3s linear 0s 1 normal forwards running;
}

.ex-5-square:active {
    animation: smaller5 3s linear 0s 1 normal forwards running;
}

@keyframes bigger5 {
    from {width: 60px; height: 60px; }
    to {width: 100px; height: 100px; }
}

@keyframes smaller5 {
    from {width: 60px; height: 60px; }
    to {width: 30px; height: 30px; }
}


/* Esercizio 6 */

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.well .ex-6-img:hover {
    filter: grayscale(100%);
}

/* Esercizio 7 */

.well .ex-7-img:hover {
    animation: immagine7 3s linear 0s 1 normal forwards running;
    filter: grayscale(0%);
}

@keyframes immagine7 {
    from {filter: grayscale(0%); border: 10px solid black }
    to {filter: grayscale(100%); border: 15px solid white}
}

/* Esercizio 8 */

.well .ex-8-img:hover {
    animation: immagine8 3s linear 0s 1 normal forwards running;
    filter: blur(10px);
}

@keyframes immagine8 {
    from {filter: blur(10px) invert(0%);  border-radius: 0%; }
    to {filter: blur(0px)  invert(100%); border-radius: 15% }
}

/* Esercizio 9 */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}

.well .ex-9-img:hover {
    animation: immagine9 3s linear 0s 1 normal forwards running;
    filter: opacity(0%);
}

@keyframes immagine9 {
    from {filter: opacity(0%); border: 10px solid transparent; border-radius: 0%; transform: scale(1) }
    to {filter: opacity(100%); border: 15px solid greenyellow; border-radius: 50%; transform: scale(1.5) }
}


/* Esercizio 10 */

.ex-10-icon {
    font-size: 60px;
}

.well .ex-10-icon:hover {
    animation: icona10 3s linear 0s infinite normal forwards running;
}

@keyframes icona10 {  
    from {transform: rotate(0deg); }
    to {transform: rotate(359deg); }
}


/* Esercizio 11 */

.ex-11-icon {
    font-size: 60px;
}

.well .ex-11-icon:hover {
    animation: icona11 3s linear 0s infinite normal forwards running;
}

@keyframes icona11 {  
    from {transform: rotate(0deg); }
    80% {transform: rotate(270deg); }
    to {transform: rotate(0deg); }
}

/* Esercizio 12 */

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.well .ex-12-button:hover .ex-12-top-white {
    animation: topwhite12 3s linear 0s infinite reverse forwards running;
}
.well .ex-12-button:hover .ex-12-bottom-white {
    animation: bottomwhite12 3s linear 0s infinite reverse forwards running;
}
@keyframes topwhite12 {  
    from {left: 10%; }
    50% {left: 70%; }
    to {left: 10%; }
}
@keyframes bottomwhite12 {  
        from {right: 20%; }
        50% {right: 69%; }
        to {right: 20%; }
}

/* Esercizio 13 */

.well .ex-13-button:hover .ex-13-top-white {
    animation: topwhite13 3s linear 0s infinite normal forwards running;
}
.well .ex-13-button:hover .ex-13-bottom-white {
    animation: bottomwhite13 3s linear 0s infinite normal forwards running;
}
@keyframes topwhite13 {  
    from {left: 10%; top: -10px}
    66% {left: 85%; top: -10px}
    to {left: 85%; top: 60px}
    
}
@keyframes bottomwhite13 {  
        from {right: 8%; bottom: -10px}
        66% {right: 80%; bottom: -10px}
        to {right: 80%; bottom: 50px}
}
